@import url('https://fonts.googleapi.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://media.istockphoto.com/photos/kuala-lumpur-urban-scene-malaysia-picture-id517972764?k=6&m=517972764&s=612x612&w=0&h=mmR7p6Nkg2gy-cm5uZ_wPbqcNQv9usRxad2vCysxvf4=);
    background-size: cover;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #777;
}
.contact .content p {
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.123);
    width: fit-content;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box {
    position: relative;
    padding: 20px;
    display: flex;
}
.container .contactinfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.container .contactinfo .box .icon img {
    max-height: 22px;
}
.container .contactinfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 17px;
    color: #777;
    flex-direction: column;
    font-weight: 300;

}
.container .contactinfo .box .text h3 {
    font-weight: 500;
    color: #00b3ca;
    background-color: rgba(0, 0, 0, 0.466);
    width: fit-content;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 3px;
}
.container .contactinfo .box .text p{
    color: #fff;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.288);
    width: fit-content;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}
.contactform {
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    -ms-transform: translatey(-20px);
    -o-transform: translatey(-20px);
}
.container .contactinfo .box .text a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.288);
    width: fit-content;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.contactform .inputbox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;font-size: 18px;
}
@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactinfo {
        margin-bottom: 40px;
        width: 100%;
    }
    .container .contactform {
        width: 100%;
    }
}
@media (max-width: 42rem) {
    .contact {
        padding: 20px;
    }
    .container .contactform {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
}
